
<div class="row d-inline-block m-1">
  <div class="col-4 animated fadeIn fast" >
    <div class="col-4 mt-1">
      <div class="card p-3  "  style="width: 18rem;">
        <img [src]="heroe.img" class="card-img-top"    alt="imagen">
        <div class="card-block">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted text-center">{{ heroe.aparicion }}</small>
        </div>
        <!-- <a [routerLink]="['/detallis',i+1]" type="button" name="" id="" class="btn btn-outline-warning">Detalles</a> -->
        <button (click)="verHeroe()" type="button" name="" id="" class="btn btn-outline-warning">Detalles</button>
      </div>
      
    </div>

    </div>
















</div>

